.card {
    text-align: center;
    background-color: #ffffff;
    width: 250px; /* Se puede cambiar */
    margin: 0 auto;
    border-radius: 10px;
}



.card__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__headName, .card__headBoton {
    margin: .8rem;
}

.card__headName {
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: #e786b3;
    padding: 0 .34rem;
    border-radius: 2px;
}

.card__headBoton {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    transition: .3s all eas
}

.card__headBoton:hover {
    background-color: #e786b3;
}

.card__peopleIMG {
    width: 230px;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 .63rem;
}

.card__infoSpecies, .card__infoGender {
    font-weight: 600;
    color: #000000;
    font-size: 18px;
}
.button {
    background: rgb(255, 255, 255);
    padding: .4rem 0;
    font-size: .9rem;
    align-items: end;
}


.button:hover {
    cursor: pointer;
}
